asgiref==3.8.1
boto3==1.37.26
botocore==1.37.26
certifi==2025.1.31
charset-normalizer==3.4.1
Django==4.2.20
django-storages==1.14.6
idna==3.10
Jinja2==3.1.6
jmespath==1.0.1
MarkupSafe==3.0.2
packaging==24.2
pillow==11.1.0
PyQt5==5.15.11
PyQt5-Qt5==5.15.2
PyQt5_sip==12.17.0
python-dateutil==2.9.0.post0
QDarkStyle==3.2.3
qt-material==2.14
QtPy==2.4.3
requests==2.32.3
s3transfer==0.11.4
six==1.17.0
sqlparse==0.5.3
typing_extensions==4.12.2
tzdata==2025.1
urllib3==1.26.20
yt-dlp==2025.3.27
