{% extends 'marketplace/admin-pages.html' %}
{% block content %}
{% load static %}
     <div class="col-lg-8 shadow-sm p-3 mb-5 bg-white rounded">
		{% csrf_token %}
		<div class="widget dashboard-container my-adslist">
			<h3 class="widget-header">
				Add new Product
			</h3>
			<label><strong>Title:</strong></label>
			<input class="form-control" id="title" value="" required placeholder="Enter your product title">
			<label><strong>Price:</strong></label>
			<input class="form-control" id="price" type="number" step="10" value="10" required>
			<label><strong>Stock Status:</strong></label>
			<select id="stock" class="form-control mt-2 w-100">
				<option value="0">Out of Stock</option>
				<option value="1" selected>In Stock</option>
			</select>
			<label><strong>Category:</strong></label>
			<select id="category" class="form-control mt-2 w-100">
			 {% for category in categories %}
				<option value="{{ category.title }}">{{ category.title }}</option>
			 {% endfor %}
			</select>
			<label><strong>Description:</strong></label>
			<textarea class="form-control" id="description"></textarea>
			<label><strong>Specification:</strong></label>
			<table id="spec-table" class="table table-bordered">
			  <thead>
				<tr>
				  <th>Key</th>
				  <th>Value</th>
				  <th>Action</th>
				</tr>
			  </thead>
			  <tbody id="spec-body">
				<tr>
				  <td><input type="text" name="spec_key[]" class="form-control" /></td>
				  <td><input type="text" name="spec_value[]" class="form-control" /></td>
				  <td><button type="button" class="btn btn-outline-danger is-rounded btn-sm" onclick="removeRow(this)">Remove <i class="fa fa-minus" aria-hidden="true"></i></button></td>
				</tr>
			  </tbody>
			</table>
			<button type="button" class="btn btn-outline-success is-rounded" onclick="addRow()">Add <i class="fa fa-plus" aria-hidden="true"></i></button>
			<div class="text-center mt-4">
				<button class="col-lg-12 btn btn-success" onclick="updateProductInfo('{% url 'hq-p-a' %}')">Save</button>
			</div>
			<br>

		</div>
     </div>
	 <script>
		function updateProductInfo(url) {
			const xhr = new XMLHttpRequest();
			const formData = new FormData();
			let key_elements = document.getElementsByName('spec_key[]');
			let value_elements = document.getElementsByName('spec_value[]');
			let spec_keys = [];
			let spec_values = [];
			
			formData.append("title", document.querySelector('#title').value);
			formData.append("price", document.querySelector('#price').value);
			formData.append("stock", document.querySelector('#stock').value);
			formData.append("category", document.querySelector('#category').value);
			formData.append("description", document.querySelector('#description').innerText);
			key_elements.forEach(el => {
				spec_keys.push(el.value);
			})
			value_elements.forEach(el => {
				spec_values.push(el.value);
			})
			formData.append("spec_keys", spec_keys);
			formData.append("spec_values", spec_values);
			xhr.open("POST", url, true);
			xhr.send(formData);
			xhr.onreadystatechange = function() {
				if (this.readyState == 4 && this.status == 200) {
					let id = this.responseText;
					location.href = `/hq/edit_product/${id}`;
			   }
			};
		}
		function addRow() {
		  const tbody = document.getElementById("spec-body");
		  const row = document.createElement("tr");
		  row.innerHTML = `
			<td><input type="text" name="spec_key[]" class="form-control" /></td>
			<td><input type="text" name="spec_value[]" class="form-control" /></td>
			<td><button type="button" class="btn btn-outline-danger btn-sm" onclick="removeRow(this)">Remove <i class="fa fa-minus" aria-hidden="true"></i></button></td>
		  `;
		  tbody.appendChild(row);
		}

		function removeRow(button) {
		  button.closest("tr").remove();
		}
	 </script>
{% endblock %}