<!DOCTYPE html>
<html lang="en">
{% load static %}
 <head>
  <!-- ** Basic Page Needs ** -->
  <meta charset="utf-8"/>
  <title>
   BlackBox | Headquaters
  </title>
  <!-- ** Mobile Specific Metas ** -->
  <meta content="IE=edge" http-equiv="X-UA-Compatible"/>
  <meta content="Agency HTML Template" name="description"/>
  <meta content="width=device-width, initial-scale=1.0, maximum-scale=5.0" name="viewport"/>
  <meta content="Messaoud KIHAL" name="author"/>
  <!-- favicon -->
  <link href="{% static 'images/favicon.jpg'%}" rel="shortcut icon"/>
  <!-- 
  Essential stylesheets
  =====================================-->
  <link href="{% static 'plugins/bootstrap/bootstrap.min.css'%}" rel="stylesheet"/>
  <link href="{% static 'plugins/bootstrap/bootstrap-slider.css'%}" rel="stylesheet"/>
  <link href="{% static 'plugins/font-awesome/css/font-awesome.min.css'%}" rel="stylesheet"/>
  <link href="{% static 'plugins/slick/slick.css'%}" rel="stylesheet"/>
  <link href="{% static 'plugins/slick/slick-theme.css'%}" rel="stylesheet"/>
  <link href="{% static 'plugins/jquery-nice-select/css/nice-select.css'%}" rel="stylesheet"/>
  <link href="{% static 'css/style.css'%}" rel="stylesheet"/>
 </head>
 <body class="body-wrapper">
  <header>
   <div class="container">
    <div class="row">
     <div class="col-md-10">
      <nav class="navbar navbar-expand-lg navbar-light navigation d-flex justify-content-center">
       <a class="navbar-brand" href="index.html">
        <img alt="" src="{% static 'images/BlackBox.png'%}"/>
       </a>
      </nav>
     </div>
	 <div class="col-md-2 d-flex justify-content-center align-items-center">
		<a href="" class="text-primary" style="font-size: 30px;">
			<i class="fa fa-bell" aria-hidden="true"></i>
		</a>
	 </div>
    </div>
   </div>
  </header>
	{% if messages %}
		{% for message in messages %}
			{% if message.tags == "success" %}
				<div class="alert alert-success" role="alert">
				  {{ message }}
				</div>
			{% elif message.tags == "error" %}
				<div class="alert alert-danger" role="alert">
				  {{ message }}
				</div>
			{% elif message.tags == "info" %}
				<div class="alert alert-warning" role="alert">
				  {{ message }}
				</div>
			{% else %}
				<div class="alert alert-info" role="alert">
				  {{ message }}
				</div>
			{% endif %}
		{% endfor %}
	{% endif %}
  <!--==================================
=            User Profile            =
===================================-->
  <section class="dashboard section">
   <!-- Container Start -->
   <div class="container">
    <!-- Row Start -->
    <div class="row">
     <div class="col-lg-4 shadow p-3 mb-5 bg-white rounded">
      <div class="sidebar">
       <!-- User Widget -->
       <div class="widget user-dashboard-profile">
        <!-- User Image -->
        <div class="profile-thumb">
         <img alt="" class="rounded-circle" src="{% static 'images/favicon.jpg'%}"/>
        </div>
        <!-- User Name -->
        <h5 class="text-center">
         {{ request.user }}
        </h5>
        <p>
         Role: {{ user_profile.role }}
        </p>
       </div>
       <!-- Dashboard Links -->
       <div class="widget user-dashboard-menu">
        <ul>
         <li class="{% if request.path == '/hq/orders' %}active{% endif %}">
          <a href='{% url "hq-o" %}'>
           <i class="fa fa-shopping-cart" aria-hidden="true"></i>
           Orders 
          </a>
         </li>
         <li class="{% if request.path == '/hq/requests' %}active{% endif %}">
          <a href='{% url "hq-r" %}'>
           <i class="fa fa-tasks" aria-hidden="true"></i>
           Requests 
          </a>
         </li>
         <li class="{% if request.path == '/hq/products' %}active{% endif %}">
          <a href='{% url "hq-p" %}'>
           <i class="fa fa-archive" aria-hidden="true"></i>
           Products
          </a>
         </li>
         <li class="{% if request.path == '/hq/stats' %}active{% endif %}">
          <a href='{% url "hq-st" %}'>
           <i class="fa fa-bar-chart" aria-hidden="true"></i>
           Statistics
          </a>
         </li>
         <li class="{% if request.path == '/hq/media' %}active{% endif %}">
          <a href="{% url 'hq-m' %}">
           <i class="fa fa-film" aria-hidden="true"></i>
           Media Files
          </a>
         </li>
         <li class="{% if request.path == '/hq/users' %}active{% endif %}">
          <a href="{% url 'hq-u' %}">
           <i class="fa fa-user">
           </i>
           Users
          </a>
         </li>
         <li class="{% if request.path == '/hq/settings' %}active{% endif %}">
          <a href="{% url 'hq-s' %}">
           <i class="fa fa-cog">
           </i>
           Settings
          </a>
         </li>
         <li>
          <a href="{% url 'hq-l' %}">
           <i class="fa fa-power-off">
           </i>
           Log Out
          </a>
         </li>
        </ul>
       </div>
      </div>
     </div>
	 {% block content %}
	 {% endblock %}
	</div>
   </div>
  </section>
   <!-- Container End -->
   <!-- To Top -->
   <div class="scroll-top-to">
    <i class="fa fa-angle-up">
    </i>
   </div>

  <!-- 
Essential Scripts
=====================================-->
  <script src="{% static 'plugins/jquery/jquery.min.js'%}">
  </script>
  <script src="{% static 'plugins/bootstrap/popper.min.js'%}">
  </script>
  <script src="{% static 'plugins/bootstrap/bootstrap.min.js'%}">
  </script>
  <script src="{% static 'plugins/bootstrap/bootstrap-slider.js'%}">
  </script>
  <script src="{% static 'plugins/tether/js/tether.min.js'%}">
  </script>
  <script src="{% static 'plugins/raty/jquery.raty-fa.js'%}">
  </script>
  <script src="{% static 'plugins/slick/slick.min.js'%}">
  </script>
  <script src="{% static 'plugins/jquery-nice-select/js/jquery.nice-select.min.js'%}">
  </script>
  <script src="{% static 'js/script.js'%}">
  </script>
 </body>
</html>
