<!DOCTYPE html>
<html lang="en">
 {% load static %}
 <head>
  <!-- ** Basic Page Needs ** -->
  <meta charset="utf-8"/>
  <title>
   BlackBox | {{ request.url }}
  </title>
  <!-- ** Mobile Specific Metas ** -->
  <meta content="IE=edge" http-equiv="X-UA-Compatible"/>
  <meta content="Agency HTML Template" name="description"/>
  <meta content="width=device-width, initial-scale=1.0, maximum-scale=5.0" name="viewport"/>
  <!-- favicon -->
  <link href="{% static 'images/favicon.jpg'%}" rel="shortcut icon"/>
  <!-- 
  Essential stylesheets
  =====================================-->
  <link href="{% static 'plugins/bootstrap/bootstrap.min.css'%}" rel="stylesheet"/>
  <link href="{% static 'plugins/bootstrap/bootstrap-slider.css'%}" rel="stylesheet"/>
  <link href="{% static 'plugins/font-awesome/css/font-awesome.min.css'%}" rel="stylesheet"/>
  <link href="{% static 'plugins/slick/slick.css'%}" rel="stylesheet"/>
  <link href="{% static 'plugins/slick/slick-theme.css'%}" rel="stylesheet"/>
  <link href="{% static 'plugins/jquery-nice-select/css/nice-select.css'%}" rel="stylesheet"/>
  <link href="{% static 'css/style.css'%}" rel="stylesheet"/>
 </head>
 <body class="body-wrapper">
  <header>
   <div class="container">
    <div class="row">
     <div class="col-md-12">
      <nav class="navbar navbar-expand-lg navbar-light navigation">
       <a class="navbar-brand" href="index.html">
        <img alt="" src="{% static 'images/BlackBox.png'%}"/>
       </a>
       <button aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler" data-target="#navbarSupportedContent" data-toggle="collapse" type="button">
        <span class="navbar-toggler-icon">
        </span>
       </button>
       <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto main-nav">
         <li class="nav-item">
          <a class="nav-link" href="{% url 'main' %}">
           Home
          </a>
         </li>
         <li class="nav-item">
          <a class="nav-link" href="{% url 'store' %}">
           Store
          </a>
		 </li>
         <li class="nav-item dropdown dropdown-slide">
          <a aria-expanded="false" aria-haspopup="true" class="nav-link dropdown-toggle" data-toggle="dropdown">
           On Demand
           <span>
            <i class="fa fa-angle-down">
            </i>
           </span>
          </a>
          <!-- Dropdown list -->
          <ul class="dropdown-menu">
           <li>
            <a class="dropdown-item" href="{% url 'ondemand' 'framed' %}">
             Framed Art
            </a>
           </li>
           <li>
            <a class="dropdown-item" href="{% url 'ondemand' 'logo' %}">
              Logo Design
            </a>
           </li>
          </ul>
         </li>
         <li class="nav-item dropdown dropdown-slide">
          <a aria-expanded="false" aria-haspopup="true" class="nav-link dropdown-toggle" data-toggle="dropdown" href="#!">
           Services
           <span>
            <i class="fa fa-angle-down">
            </i>
           </span>
          </a>
          <!-- Dropdown list -->
          <ul class="dropdown-menu">
           <li>
            <a class="dropdown-item">
             Web Development
            </a>
           </li>
           <li>
            <a class="dropdown-item">
             Video Editing
            </a>
           </li>
           <li>
            <a class="dropdown-item">
             Photo Editing
            </a>
           </li>
          </ul>
         </li>
		 <li class="nav-item">
			<a class="nav-link" href="{% url 'about' %}">
				About
			</a>
		 </li>
        </ul>
        <ul class="navbar-nav ml-auto mt-10">
         <li class="nav-item">
          <a class="nav-link login-button" href="{% url 'login' %}">
           Login
          </a>
         </li>
         <li class="nav-item">
          <a class="nav-link text-white add-button" href="{% url 'signup' %}">
           </i>
           Sign up
          </a>
         </li>
        </ul>
       </div>
      </nav>
     </div>
    </div>
   </div>
  </header>
  {% block content %}
  {% endblock %}
  <!--============================
=            Footer            =
=============================-->
  <footer class="footer section section-sm">
   <!-- Container Start -->
   <div class="container">
    <div class="row">
     <div class="col-lg-3 col-md-7 offset-md-1 offset-lg-0 mb-4 mb-lg-0">
      <!-- About -->
      <div class="block about">
       <!-- footer logo -->
       <img alt="logo" src="{% static 'images/BlackBox.png'%}"/>
       <!-- description -->
       <p>
        Explore our vibrant collection of framed A4 photos, featuring bold designs, 
        <br/>
        personalized artwork, and sleek vector prints perfect for any space
       </p>
      </div>
     </div>
     <!-- Link list -->
     <div class="col-lg-2 offset-lg-1 col-md-3 col-6 mb-4 mb-lg-0">
      <div class="block">
       <h4>
		Contact	& Information
	   </h4>
	   <ul>
        <li>
         <a href="">
          Contact
         </a>
        </li>
        <li>
         <a href="">
          About Us
         </a>
        </li>
        <li>
         <a href="">
          Sell Your Product
         </a>
        </li>
        <li>
         <a href="terms-condition.html">
          Terms &amp; Conditions
         </a>
        </li>
       </ul>
      </div>
     </div>
     <!-- Link list -->
     <div class="col-lg-2 col-md-3 offset-md-1 offset-lg-0 col-6 mb-4 mb-md-0">
      <div class="block">
       <h4>
        <a style="text-decoration: none;color: white;" href="{% url 'hq' %}">Admin</a>
       </h4>
       <ul>
        <li>
         <a href="">
          Team
         </a>
        </li>
        <li>
         <a href="">
          Blog
         </a>
        </li>
       </ul>
      </div>
     </div>
     <!-- Promotion -->
     <div class="col-lg-4 col-md-7">
      <!-- App promotion -->
      <div class="block-2 app-promotion">
       <div class="mobile d-flex align-items-center">
        <a href="index.html">
         <!-- Icon -->
         <img alt="mobile-icon" src="{% static 'images/footer/phone-icon.png'%}"/>
        </a>
        <p class="mb-0">
         Get the Dealsy Mobile App and Save more
        </p>
       </div>
       <div class="download-btn d-flex my-3">
        <a href="index.html">
         <img alt="" class="img-fluid" src="{% static 'images/apps/google-play-store.png'%}"/>
        </a>
        <a class="ml-3" href="index.html">
         <img alt="" class="img-fluid" src="{% static 'images/apps/apple-app-store.png'%}"/>
        </a>
       </div>
      </div>
     </div>
    </div>
   </div>
   <!-- Container End -->
  </footer>
  <!-- Footer Bottom -->
  <footer class="footer-bottom">
   <!-- Container Start -->
   <div class="container">
    <div class="row">
     <div class="col-lg-6 text-center text-lg-left mb-3 mb-lg-0">
      <!-- Copyright -->
      <div class="copyright">
       <p>
        Copyright &copy;
        <script>
         var CurrentYear = new Date().getFullYear()
              document.write(CurrentYear)
        </script>
        .Owned By 
		<a class="text-white" href="">
			Ayoub Bahri
		</a>
       </p>
      </div>
     </div>
     <div class="col-lg-6">
      <!-- Social Icons -->
      <ul class="social-media-icons text-center text-lg-right">
       <li>
        <a class="fa fa-facebook" href="https://www.facebook.com/themefisher">
        </a>
       </li>
       <li>
        <a class="fa fa-twitter" href="https://www.twitter.com/themefisher">
        </a>
       </li>
       <li>
        <a class="fa fa-pinterest-p" href="https://www.pinterest.com/themefisher">
        </a>
       </li>
       <li>
        <a class="fa fa-github-alt" href="https://www.github.com/themefisher">
        </a>
       </li>
      </ul>
     </div>
    </div>
   </div>
   <!-- Container End -->
   <!-- To Top -->
   <div class="scroll-top-to">
    <i class="fa fa-angle-up">
    </i>
   </div>
  </footer>
  <!-- 
Essential Scripts
=====================================-->
  <script src="{% static 'plugins/jquery/jquery.min.js'%}">
  </script>
  <script src="{% static 'plugins/bootstrap/popper.min.js'%}">
  </script>
  <script src="{% static 'plugins/bootstrap/bootstrap.min.js'%}">
  </script>
  <script src="{% static 'plugins/bootstrap/bootstrap-slider.js'%}">
  </script>
  <script src="{% static 'plugins/tether/js/tether.min.js'%}">
  </script>
  <script src="{% static 'plugins/raty/jquery.raty-fa.js'%}">
  </script>
  <script src="{% static 'plugins/slick/slick.min.js'%}">
  </script>
  <script src="{% static 'plugins/jquery-nice-select/js/jquery.nice-select.min.js'%}">
  </script>
  <script defer="" src="{% static 'plugins/google-map/map.js'%}">
  </script>
  <script src="{% static 'js/script.js'%}">
  </script>
  {% block script %}
  {% endblock %}
 </body>
</html>
