{% extends 'marketplace/base.html' %}
{% block title %}On Demand{% endblock %}
{% block content %}
  <section class="advt-post bg-gray py-5">
   <div class="container">
    <form action="{% url 'ondemand' 'framed' %}" method="POST">
	 {% csrf_token %}
     <!-- Post Your ad start -->
     <fieldset class="border border-gary px-3 px-md-4 py-4 mb-5">
      <div class="row">
       <div class="col-lg-12">
        <h3>
			Request a presonlized framed artwork
        </h3>
       </div>
       <div class="col-lg-6">
        <h6 class="font-weight-bold pt-4 pb-1">
         Title:
        </h6>
        <input name="title" class="form-control bg-white" placeholder="Ad title go There" required="" type="text"/>
        <h6 class="font-weight-bold pt-4 pb-1">
		 Size:
        </h6>
        <div class="row px-3">
         <div class="col-lg-4 mr-lg-4 my-2 pt-2 pb-1 rounded bg-white">
          <input id="a5" name="size" required="" type="radio" value="A5"/>
          <label class="py-2" for="a5">
           A5
          </label>
         </div>
         <div class="col-lg-4 mr-lg-4 my-2 pt-2 pb-1 rounded bg-white">
          <input id="a4" name="size" required="" type="radio" value="A4"/>
          <label class="py-2" for="a4">
           A4
          </label>
         </div>
         <div class="col-lg-4 mr-lg-4 my-2 pt-2 pb-1 rounded bg-white">
          <input id="a3" name="size" required="" type="radio" value="A3"/>
          <label class="py-2" for="a3">
           A3
          </label>
         </div>
        </div>
        <h6 class="font-weight-bold pt-4 pb-1">
         Description:
        </h6>
        <textarea class="form-control bg-white" id="description" name="description" placeholder="Write a brief description of the artwork you want us to make" required="" rows="7"></textarea>
       </div>
       <div class="col-lg-6">
        <h6 class="font-weight-bold pt-4 pb-1">
         Select Category:
        </h6>
        <select class="form-control w-100 bg-white" id="inputGroupSelect" name="category">
         <option value="1">
          Select category
         </option>
         <option value="2">
          canvas
         </option>
         <option value="3">
          photography
         </option>
         <option value="4">
          drawing
         </option>
         <option value="5">
          vibrant
         </option>
        </select>
        <div class="price">
         <h6 class="font-weight-bold pt-4 pb-1">
          Item Price (DZD):
         </h6>
         <div class="row px-3 text-center">
          <div class="col-lg-6 rounded my-2 px-0">
           <h5 id="priceTag" class="text-success">500.00 DZD  -   2000.00 DZD</h5>
          </div>
         </div>
        </div>
        <div class="text-center my-4 py-4 rounded bg-white">
		  <h3>Select the files you want to upload</h3>
         <label for="file-upload">
          <input class="form-control" id="formFileSm" name="file" type="file" enctype="multipart/form-data" />
		  <progress id="progress-bar" class="w-100" value="0" max="100"></progress>		   
		 </label>
        </div>
       </div>
      </div>
     </fieldset>
     <fieldset class="border px-3 px-md-4 py-4 my-5 seller-information bg-gray">
      <div class="row">
       <div class="col-lg-12">
        <h3>
         Your Information
        </h3>
       </div>
       <div class="col-lg-6">
        <h6 class="font-weight-bold pt-4 pb-1">
         Full Name:
        </h6>
        <input class="form-control bg-white" placeholder="Contact name" required="" type="text"/>
        <h6 class="font-weight-bold pt-4 pb-1">
         Phone Number:
        </h6>
        <input class="form-control bg-white" placeholder="Contact Number" required="" type="text"/>
       </div>
       <div class="col-lg-6">
        <h6 class="font-weight-bold pt-4 pb-1">
         Email:
        </h6>
        <input class="form-control bg-white" placeholder="name@yourmail.com" required="" type="email"/>
        <h6 class="font-weight-bold pt-4 pb-1">
         Address:
        </h6>
        <input class="form-control bg-white" placeholder="Your address" required="" type="text"/>
       </div>
	   <div class="col-lg-6">
		   <h6 class="font-weight-bold pt-4 pb-1">
			 Wilaya
			</h6>
		   <div class="select-box form-control w-100 bg-white">
				<span id="currentWilaya" data-wilaya-id="0">Select Wilaya</span>
				<div class="select-control">
					<div id="wilaya-up" class="select-icon">&#11165;</div>
					<div id="wilaya-down" class="select-icon">&#11167;</div>
				</div>
			</div>
		</div>
	   <div class="col-lg-6">
		   <h6 class="font-weight-bold pt-4 pb-1">
			 Commune
			</h6>
		   <div class="select-box form-control w-100 bg-white">
				<span id="currentCommune" data-cummune-id="0" data-wilaya-id="0">Select Commune</span>
				<div class="select-control">
					<div id="commune-up" class="select-icon">&#11165;</div>
					<div id="commune-down" class="select-icon">&#11167;</div>
				</div>
			</div>
		</div>
      </div>
     </fieldset>
     <!-- seller-information end-->
     <!-- submit button -->
     <div class="checkbox d-inline-flex">
      <input class="mt-1" id="terms-&amp;-condition" type="checkbox"/>
      <label class="ml-2" for="terms-&amp;-condition">
       By click you must agree with our
       <span>
        <a class="text-success" href="terms-condition.html">
         Terms &amp; Condition and Posting
              Rules.
        </a>
       </span>
      </label>
     </div>
     <button class="btn btn-primary d-block mt-2" type="submit">
		Purchase
     </button>
    </form>
   </div>
  </section>
{% endblock %}

{% block script %}
  <script>
	// Wilaya select
	let changeWilayaUp = document.querySelector('#wilaya-up');
	let changeWilayaDown = document.querySelector('#wilaya-down');
	let currentWilaya = document.querySelector('#currentWilaya');

	let Wilaya = ["Select Wilaya"]
	let index = 1
	{% for w in wilayas %}
		Wilaya[index] = "{{ w.name }}  -  {{ w.code }}"
		index += 1
	{% endfor %}

	changeWilayaUp.onclick = (event) => {
	  if (Number(currentWilaya.dataset.wilayaId) > 1) {
		currentWilaya.innerText = Wilaya[Number(currentWilaya.dataset.wilayaId)-1];
		currentWilaya.dataset.wilayaId = `${Number(currentWilaya.dataset.wilayaId) - 1}` 
	  } else if (Number(currentWilaya.dataset.wilayaId) == 1){
		currentWilaya.innerText = Wilaya[Wilaya.length-1];
		currentWilaya.dataset.wilayaId = `${Number(Wilaya.length) - 1}` 
	  } else {
		currentWilaya.innerText = Wilaya[Wilaya.length-1];
		currentWilaya.dataset.wilayaId = `${Number(Wilaya.length) - 1}`
	  }
	}

	changeWilayaDown.onclick = (event) => { 
	  if (Number(currentWilaya.dataset.wilayaId) == Wilaya.length-1) {
		currentWilaya.innerText = Wilaya[1];
		currentWilaya.dataset.wilayaId = "1"
	  } else {
		currentWilaya.innerText = Wilaya[Number(currentWilaya.dataset.wilayaId)+1];
		currentWilaya.dataset.wilayaId = `${Number(currentWilaya.dataset.wilayaId)+1}`
	  }
	}
	
	// Commune Select
	<!-- let changeCommuneUp = document.querySelector('#commune-up'); -->
	<!-- let changeCommuneDown = document.querySelector('#commune-down'); -->
	<!-- let currentCommune = document.querySelector('#currentCommune'); -->

	<!-- let Commune = ["Select Commune"] -->
	<!-- index = 1 -->
	<!-- let temp = "" -->
	
	<!-- function getCommune() { -->
		<!-- Commune = ["Select Commune"] -->
		<!-- {% for c in communes %} -->
			<!-- temp = "{{ c.wilaya_id }}" -->
			<!-- {% if currentWilaya.dataset.wilayaId != 0 %} -->
				<!-- {% if currentWilaya.dataset.wilayaId == temp %} -->
					<!-- Commune[index] = "{{ c.name }}" -->
					<!-- index += 1 -->
				<!-- {% endif %} -->
			<!-- {% endif %} -->
		<!-- {% endfor %} -->
		<!-- console.log(Commune); -->
		<!-- return Commune; -->
	<!-- } -->
	
	<!-- changeCommuneUp.onclick = (event) => { -->
		<!-- Commune = getCommune(); -->
		<!-- if (Commune.length > 1) -->
		<!-- { -->
		  <!-- if (Number(currentCommune.dataset.communeId) > 1) { -->
			<!-- currentCommune.innerText = Commune[Number(currentCommune.dataset.communeId)-1]; -->
			<!-- currentCommune.dataset.communeId = `${Number(currentCommune.dataset.communeId) - 1}`; -->
		  <!-- } else if (Number(currentCommune.dataset.communeId) == 1){ -->
			<!-- currentCommune.innerText = Commune[Commune.length-1]; -->
			<!-- currentCommune.dataset.communeId = `${Number(Commune.length) - 1}`; -->
		  <!-- } else { -->
			<!-- currentCommune.innerText = Commune[Commune.length-1]; -->
			<!-- currentCommune.dataset.communeId = `${Number(Commune.length) - 1}`; -->
		  <!-- } -->
		<!-- } -->
	<!-- } -->

	<!-- changeCommuneDown.onclick = (event) => { -->
		<!-- Commune = getCommune() -->
		<!-- if (Commune.length > 1) -->
		<!-- { -->
		  <!-- if (Number(currentCommune.dataset.communeId) == Commune.length-1) { -->
			<!-- currentCommune.innerText = Commune[1]; -->
			<!-- currentCommune.dataset.communeId = "1"; -->
		  <!-- } else { -->
			<!-- currentCommune.innerText = Commune[Number(currentCommune.dataset.communeId)+1]; -->
			<!-- currentCommune.dataset.communeId = `${Number(currentCommune.dataset.communeId)+1}`; -->
		  <!-- } -->
		<!-- } -->
	<!-- } -->
	let fileSelector = document.querySelector('#formFileSm');
	const progress = document.getElementById('progress-bar');
	fileSelector.onchange = (event) => {
		const file = fileSelector.files[0];
		const payload = new FormData();
		payload.append('file', file);
		const req = new XMLHttpRequest();
		req.open('POST', "{% url 'upload' %}");
		req.upload.addEventListener('progress', function(e) {
			const percentComplete = (e.loaded / e.total) * 100;
			progress.value = percentComplete;
		})
		req.addEventListener('load', function() {
			console.log(req.status); // Response status code
			console.log(req.response); // Request response
		})
		req.send(payload);
	}
  </script>
{% endblock %}