{% extends 'marketplace/admin-pages.html' %}
{% block content %}
{% load static %}
     <div class="col-lg-8">
      <div class="widget dashboard-container my-adslist bg-charcoal">
       <h2 class="text-white">
        Products
       </h2>
	  <div class="d-flex justify-content-between mb-3 bg-transparent">
		<input type="text" id="searchInput" class="form-control w-50" placeholder="Search requests...">
		<select id="sortSelect" class="form-control w-25">
		  <option value="date">Sort by Date</option>
		  <option value="quantity">Sort by Quantity</option>
		</select>
	  </div>
	  <div class="w-50">
		<ul class="list-inline justify-content-center">
		 <li class="list-inline-item">
		 <h4>
		  <a class="edit text-white" href="{% url 'hq-p-a' %}">
		   <i class="fa fa-pencil">
		   </i>
			Add new Product
		  </a>
		 </h4>
		 </li>
		</ul>
       </div>
       <table class="table table-responsive product-dashboard-table">
        <thead>
         <tr>
          <th class="text-center text-white">
           Image
          </th>
          <th class="text-center text-white">
           Product Title
          </th>
          <th class="text-center text-white">
           Category
          </th>
          <th class="text-center text-white">
           Action
          </th>
         </tr>
        </thead>
        <tbody>
		{% for product in products %}
         <tr>
          <td class="product-thumb">
           <img alt="image description" height="auto" src="{{ product.image }}" width="80px"/>
          </td>
          <td class="product-details">
           <h3 class="title">
            {{ product.name }}
           </h3>
           <span class="add-id">
            <strong class="text-white">
             Price:
            </strong>
            {{ product.price }}
           </span>
           <span>
            <strong class="text-white">
             Created at:
            </strong>
            <time>
             {{ product.created_at }}
            </time>
           </span>
           <span class="status {% if product.inStock %}active{% endif %}">
            <strong class="text-white">
             Status
            </strong>
            {% if product.inStock %}
			In Stock
			{% else %}
			Out of Stock
			{% endif %}
           </span>
          </td>
          <td class="product-category">
           <span class="categories text-white">
            {{ product.category }}
           </span>
          </td>
          <td class="action">
           <div class="">
            <ul class="list-inline justify-content-center">
             <li class="list-inline-item">
              <a class="edit" href="{% url 'hq-p-e' product.id %}">
               <i class="fa fa-pencil">
               </i>
              </a>
             </li>
            </ul>
           </div>
          </td>
         </tr>
		 {% endfor %}
        </tbody>
       </table>
      </div>
	  <div class="mt-3 d-flex justify-content-end">
		<label class="mr-2 text-white">Show:</label>
		<select id="showLimit" class="form-control w-auto text-white">
		  <option class="bg-charcoal text-white" value="10">10</option>
		  <option class="bg-charcoal text-white" value="50">50</option>
		  <option class="bg-charcoal text-white" value="100">100</option>
		  <option class="bg-charcoal text-white" value="200">200</option>
		</select>
	  </div>
     </div>
{% endblock %}

