{% extends 'marketplace/admin-pages.html' %}
{% block content %}
{% load static %}
     <div class="col-lg-8">
      <!-- Recently Favorited -->
      <div class="widget dashboard-container my-adslist">
       <h3 class="widget-header">
        Products
       </h3>
       <table class="table table-responsive product-dashboard-table">
        <thead>
         <tr>
          <th>
           Image
          </th>
          <th>
           Product Title
          </th>
          <th class="text-center">
           Category
          </th>
          <th class="text-center">
           Action
          </th>
         </tr>
        </thead>
        <tbody>
		{% for product in products %}
         <tr>
          <td class="product-thumb">
           <img alt="image description" height="auto" src="{{ product.image }}" width="80px"/>
          </td>
          <td class="product-details">
           <h3 class="title">
            {{ product.title }}
           </h3>
           <span class="add-id">
            <strong>
             User
            </strong>
            {{ product.user }}
           </span>
           <span>
            <strong>
             Order on:
            </strong>
            <time>
             {{ product.date }}
            </time>
           </span>
           <span class="status active">
            <strong>
             Status
            </strong>
            {{ product.status }}
           </span>
           <span class="location">
            <strong>
             Location
            </strong>
            {{ product.location }}
           </span>
          </td>
          <td class="product-category">
           <span class="categories">
            {{ product.category }}
           </span>
          </td>
          <td class="action">
           <div class="">
            <ul class="list-inline justify-content-center">
             <li class="list-inline-item">
              <a class="view" href="">
               <i class="fa fa-eye">
               </i>
              </a>
             </li>
            </ul>
           </div>
          </td>
         </tr>
		 {% endfor %}
        </tbody>
       </table>
      </div>
     </div>
{% endblock %}