{% extends 'marketplace/base.html' %}

{% block content %}
  <section class="login py-5 border-top-1">
   <div class="container">
    <div class="row justify-content-center">
     <div class="col-lg-5 col-md-8 align-item-center">
      <div class="border border">
       <h3 class="bg-gray p-4">
        Register Now
       </h3>
       <form action="#">
        <fieldset class="p-4">
         <input class="form-control mb-3" placeholder="Email*" required="" type="email"/>
         <input class="form-control mb-3" placeholder="Password*" required="" type="password"/>
         <input class="form-control mb-3" placeholder="Confirm Password*" required="" type="password"/>
         <div class="loggedin-forgot d-inline-flex my-3">
          <input class="mt-1" id="registering" type="checkbox"/>
          <label class="px-2" for="registering">
           By registering, you accept our
           <a class="text-primary font-weight-bold" href="terms-condition.html">
            Terms &amp; Conditions
           </a>
          </label>
         </div>
         <button class="btn btn-primary font-weight-bold mt-3" type="submit">
          Register Now
         </button>
        </fieldset>
       </form>
      </div>
     </div>
    </div>
   </div>
  </section>
{% endblock %}