{% extends 'marketplace/base.html' %}
{% if messages %}
	{% for message in messages %}
		{% if message.tags == "success" %}
			<div class="alert alert-success" role="alert">
			  {{ message }}
			</div>
		{% elif message.tags == "error" %}
			<div class="alert alert-danger" role="alert">
			  {{ message }}
			</div>
		{% elif message.tags == "info" %}
			<div class="alert alert-warning" role="alert">
			  {{ message }}
			</div>
		{% else %}
			<div class="alert alert-info" role="alert">
			  {{ message }}
			</div>
		{% endif %}
	{% endfor %}
{% endif %}
{% block content %}
  <section class="login py-5 border-top-1">
   <div class="container">
    <div class="row justify-content-center">
     <div class="col-lg-5 col-md-8 align-item-center">
      <div class="border border">
       <h3 class="bg-gray p-4">
        Register Now
       </h3>
       <form method="post" action="{% url 'signup' %}">
		{% csrf_token %}
        <fieldset class="p-4">
		 <input class="form-control mb-3" name="username" placeholder="Username*" required="" type="text"/>
         <input class="form-control mb-3" name="email" placeholder="Email*" required="" type="email"/>
         <input class="form-control mb-3" name="password" placeholder="Password*" required="" type="password"/>
         <input class="form-control mb-3" name="confirm" placeholder="Confirm Password*" required="" type="password"/>
         <button class="btn btn-primary font-weight-bold mt-3" type="submit">
          Register Now
         </button>
        </fieldset>
       </form>
      </div>
     </div>
    </div>
   </div>
  </section>
{% endblock %}